# Name of the workflow
name: api-release

# Name of the specific run
run-name: ${{ github.event.head_commit.message }}

# Specify when the workflow runs
on:
  push:
    branches:
      - main
  workflow_dispatch:
    inputs:
      message:
        description: 'Simulated commit message'
        required: true
        default: ''
        type: string


jobs:
  # Verify that application has bumped semantic version
  release:
    runs-on: ubuntu-latest
    steps:
      # Pull the repository
      - uses: actions/checkout@v4

      - name: Get app version
        run: |+
          #!/bin/bash

          echo "APP_VERSION=v$(cat api/package.json | jq '.version')" >> $GITHUB_ENV

      - name: List images from dockerhub
        run: |+
          PR_VERSION=$(curl -s https://hub.docker.com/v2/namespaces/0rxa/repositories/tct-example-api/tags | jq -r '.results[].name' | grep ${{ env.APP_VERSION }} | head -n 1)
          echo "PR_VERSION=$PR_VERSION" >> $GITHUB_ENV
          
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      #  Tag and push produciton artifact
      - name: Image Promotion
        run: |+
          IMAGE_REPO=${{ vars.DOCKER_IMAGE_REPO }}:${{ env.PR_VERSION }}
          PROD_IMAGE=${{ vars.DOCKER_IMAGE_REPO }}:${{ env.APP_VERSION }}
          docker pull $IMAGE_REPO
          docker tag $IMAGE_REPO $PROD_IMAGE
          docker push $PROD_IMAGE