# Name of the workflow
name: api-release

# Name of the specific run
run-name: ${{ github.event.pull_request.title }} / ${{ github.event.pull_request.number }}

# Specify when the workflow runs
on:
  # push:
  #   branches:
  #     - main
  workflow_dispatch:
    inputs:
      message:
        description: 'Simulated commit message'
        required: true
        default: ''
        type: string


jobs:
  # Verify that application has bumped semantic version
  release:
    runs-on: ubuntu-latest
    steps:
      # Pull the repository
      - uses: actions/checkout@v4

      - name: Get current version
        run: |+
          #!/bin/bash

          echo "CURRENT_VERSION=v$(cat api/package.json | jq '.version')" >> $GITHUB_ENV

      - name: List images from dockerhub
        run: |+
          curl -s https://hub.docker.com/v2/namespaces/0rxa/repositories/tct-example-api/tags | jq '.results[].name' | grep ${{ env.CURRENT_VERSION }} | head -n 1